@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<link href="~/Themes/ChonVeV1/Content/css/loginregister.css" rel="stylesheet" />
<div id="formloginregister">
    <div id="loginv1">
        
        @using (Html.BeginForm())
        {

            <h1>Quên mật khẩu</h1>
   

    <h2 class="title text-center">@T("Account.PasswordRecovery.Tooltip")</h2>
            
            <p>
                <label for="username" class="uname" data-icon="e">Email</label>
                @Html.TextBoxFor(m => m.Email, new { id = "username", required = "required", oninvalid = "InvalidMsg(this,'Bạn chưa nhập thông tin email')", oninput = "InvalidMsg(this,'');", type = "email", placeholder = "Email của bạn" })
            </p>           
            <p class="loginv1 button">
                <input type="submit" name="send-email" value="Xác nhận hồi phục" />
            </p>
            
            if (!String.IsNullOrEmpty(Model.Result))
            {
                <p style="font-size:18px;color: #73750B;font-weight: bold;">
                    @Model.Result
                </p>
            }

            <p class="change_link">
                Bạn chưa phải là thành viên ?
                <a href="@Url.RouteUrl("Register")">Đăng ký</a>&nbsp;&nbsp;<a href="@Url.RouteUrl("Login")">Quay lại trang đăng nhập</a>
            </p>

        }
       
    </div>
</div>


