@model PasswordRecoveryConfirmModel
@{
    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;
<link href="~/Themes/ChonVeV1/Content/css/loginregister.css" rel="stylesheet" />
<div id="formloginregister">
    <div id="loginv1">
        <h1>@T("Account.PasswordRecovery")</h1>
        @if (!Model.SuccessfullyChanged)
        {
            using (Html.BeginForm())
            {

                <p>
                    <label for="password" class="youpasswd" data-icon="p">Mật khẩu mới </label>
                    @Html.PasswordFor(m => m.NewPassword, new { id = "passwordnew", required = "required", oninvalid = "InvalidMsg(this,'Bạn chưa nhập mật khẩu')", oninput = "InvalidMsg(this,'');", placeholder = "Mật khẩu mới" })
                </p>
                <p>
                    <label for="password" class="youpasswd" data-icon="p">Gõ lại mật khẩu </label>
                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { id = "confirmpasswordnew", required = "required", oninvalid = "InvalidMsg(this,'Bạn chưa nhập mật khẩu')", oninput = "InvalidMsg(this,'');", placeholder = "Gõ lại mật khẩu" })
                </p>
                <p class="loginv1 button">
                    <input type="submit" name="set-password" value="Khôi phục" />
                </p>
                

            }

        }
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <h2>
                @Model.Result (Trở lại trang đang nhập sau <span id="autobacklogin" style="color:#a40e0e">5</span>)
            </h2>
            <script>
                $(document).ready(function () {
                    setTimeout(function () { goBackLogin(); }, 1000);
                });
                function goBackLogin()
                {
                    var _sec = parseInt($('#autobacklogin').html());
                    _sec = _sec - 1;
                    if(_sec>0)
                    {
                        $('#autobacklogin').html(_sec);
                        setTimeout(function () { goBackLogin(); }, 1000);
                    }
                    else
                    {
                        document.location.href = "@Url.RouteUrl("Login")";
                    }
                }
            </script>
        }
        <p class="change_link">
            Bạn chưa phải là thành viên ?
            <a href="@Url.RouteUrl("Register")">Đăng ký</a>&nbsp;&nbsp;<a href="@Url.RouteUrl("Login")">Đăng nhập</a>
        </p>
    </div>
</div>





